body {
    background-color: #f0f8ff; 
    font-size: 16px; 
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #f9be0b; 
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #444; 
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white; 
    margin-top: 10px;
}

section {
    background-color: rgb(246, 248, 249); 
    margin: 20px auto;
    padding: 20px;
    border: 4px solid #ddd; 
    border-radius: 10px; 
    max-width: 800px;
    font-size: 18px; 
    justify-content: flex-start;
}
.skill {
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.skill-level {
    height: 100%;
    background-color: #4CAF50; /* Green color */
    width: 0;
    transition: width 0.5s;
}


footer {
    background-color: #eda50b;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #444; 
    margin-top: 30px;
}
